// Typography
$sans-serif: 'Roboto', sans-serif;
$serif: serif;
// $serif-regular: 'SabonNext LT Regular', serif;
// $italic: 'SabonNext LT Italic', serif;
$base-font-family: $sans-serif;
$header-font-family: $serif;

// Font Sizes
$base-font-size: 1em;
$h1-font-size: rem(24);
$h2-font-size: rem(51);
$h3-font-size: rem(21);
$h4-font-size: rem(13);
$h5-font-size: rem(35);
$h6-font-size: $base-font-size;
$p-font-size: rem(13);

// Line height
$base-line-height: 1.5;
$header-line-height: 1.25;

// Other Sizes
$base-border-radius: 5px;
$base-spacing: $base-line-height * 1em;
$base-z-index: 0;
$sidebar-width: 300px;
$slide-transition: all 300ms ease-in-out;
$blur-transition-speed: 400ms;

// Colors
$blue: #51ABFF;
$gray: #646569;
$dark-gray: #555;
$medium-gray: #999;
$other-gray: #606060;
$very-light-gray: #E9EAEC;
$light-gray: #E4E4E4;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-beige: #D7D7D7;
$light-green: #E6EFC2;

// Background Colors
$base-background-color: #fff;
$header-container-color: $light-gray;

// Type colors
$base-type-color: $gray;;
$type-header-bg-color: #FFF;
$active-comment-color: $gray;
$action-color: #F68773;
$properties-bg-color: #FAFCFB;
$text-input-color: #EEF7F6;
$text-input-border-color: #CFE3E2;
$dark-text-color: $dark-gray;

// Font Colors
$base-font-color: $base-type-color;
$base-accent-color: $light-gray;

// Link Colors
$base-link-color: $blue;
$base-link-underline-color: #F68773;
$hover-link-color: darken($base-accent-color, 15);
$base-button-color: #575E79;
$hover-button-color: $hover-link-color;
$border-button-color: 1px solid $base-button-color;

// Flash Colors
$alert-color: $light-yellow;
$error-color: $light-red;
$notice-color: lighten($base-accent-color, 40);
$success-color: $light-green;

// Border color
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(black,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;
